mixin details(summary, open)
	.details(class={ open })&attributes(attributes)
		.summary(
			onclick!="((ev) => { ev.target.parentElement.classList.toggle('open') })(arguments[0])"
		)= summary
		.disclosure
			if block
				.content.hidden(aria-hidden="true")
					block
				.content
					block
