include section

+section("heart", "Interests")
	ul
		each interest of interests
			li.interest
				if interest.name
					.name= interest.name
				unless Object.isEmpty(interest.keywords)
					ul.keywords
						each keyword in interest.keywords
							li.keyword= keyword
