include section

+section("thumbs-up", "References")
	each reference of references
		figure.reference
			figcaption
				if reference.name
					cite= reference.name
				if reference.position
					span.position= reference.position
				if reference.at
					span.at= reference.at
			if reference.reference
				blockquote.md!= markdown(reference.reference)
