include icon

mixin section(icon, title, right, rightIcon)
	section(id=dasherize(title))&attributes(attributes)
		h3.section-header
			if icon
				+icon(icon)
			if title
				span.title= title
			if rightIcon
				+icon(rightIcon)
			if right
				span.right= right
		.section-content
			if block
				block

mixin keywords(keywords)
	unless Object.isEmpty(keywords)
		ul.keywords
			each keyword in keywords
				li.keyword= keyword
