mixin section(icon, title, right)
	section(id=dasherize(title))&attributes(attributes)
		h3.section-header
			if icon
				i.fa-solid(class="fa-" + icon)
			if title
				span.title= title
			if right
				span.right= right
		.section-content
			if block
				block

mixin keywords(keywords)
	unless Object.isEmpty(keywords)
		ul.keywords
			each keyword in keywords
				li.keyword= keyword
