ul.achievements .achievement
	padding: 6px
	font-size: 11pt

	.achieved
		flex-direction: row
		justify-content: space-between

		.name
			font-weight: bold

	.institution
		font-style: oblique

	.summary
		margin-top: 8px
