@import "colors"

.section#education

	.section-content

		li.degree
			padding: 8px
			font-size: 11pt

			h4
				font-size: 13pt
				font-weight: bold

				.institution
					font-style: oblique
					flex: 1

			.subtitle
				flex-direction: row
				align-items: center
				color: $colors.accent.font

				i.fa
					width: 20px
					height: 20px
					margin-right: 4px

				.study-type
					flex: 1

			.honors
				margin-top: 16px
