@import "colors"
@import "fonts"

:root
	color-vars()
	font-vars()

body
	font-family: $fonts.primary
	color: $colors.primary.font
	background-color: $colors.body
	transition: opacity 0.5s ease-in

	&, & > header, & > main
		width: 100%

	// reset
	&, & *
		box-sizing: border-box
		flex-direction: column
		margin: 0
		padding: 0

		div, section, ul
			display: flex
			flex-direction: column

		main, header, h1, h2, h3, h4, h5, h6
			display: flex
			flex-direction: row

		a
			color: unset
			text-decoration: none

		.md .accent
			color: $colors.accent.font
			font-size: 90%

		.md a, a::first-line, a > :not(.fa)
			text-decoration: underline
			text-decoration-thickness: 0.8px

		ul
			list-style: none

		p:not(:last-child)
			margin-bottom: 8px

	&.loaded
		opacity: 1 !important

	main
		flex-direction: row
		padding: 0 12px 12px 12px

		.column
			&.primary
				flex: 1

			&.side
				flex-basis: 3.5in
