@import "colors"
@import "fonts"

header#basics
	color-secondary()
	height: 1.4in
	padding: 12px
	margin-bottom: 10px

	.contact
		justify-content: center
		font-size: 11pt

		& > *
			flex-direction: row

			i.fa
				width: 20px
				height: 20px
				margin-right: 14px

	.title
		flex: 1
		align-items: center
		justify-content: center
		text-transform: uppercase
	
		> *
			font-weight: normal

		.name
			font-size: 30pt
			padding: 6px 12px
			border: 2pt solid transparent
			transition: border-color 2s ease-out 1s

			/.loaded &
				border-color: $colors.secondary.font

		.label
			font-family: $fonts.secondary
			font-size: 20pt
			transform: translateY(20px)
			opacity: 0
			transition: all 0.5s ease-out 0.5s

			/.loaded &
				transform: none
				opacity: 1

	.socials
		flex-direction: row
		align-items: center
		font-size: 35pt

		.social
			margin-right: 24px