@import "colors"
@import "fonts"

header#basics
	color-secondary()
	height: 1.4in
	padding: 12px
	margin-bottom: 10px

	> *
		flex: 1

	.contact
		justify-content: center
		font-size: 11pt

		& > *
			flex-direction: row

			i.fa
				width: 20px
				height: 20px
				margin-right: 14px

	.title
		align-items: center
		justify-content: center
		text-transform: uppercase
	
		> *
			font-weight: normal

		.name
			font-size: 30pt
			padding: 6px 12px
			border: 2pt solid transparent
			transition: border-color 2s ease-out 1s

			/.loaded &
				border-color: $colors.secondary.font

		.label
			font-family: $fonts.secondary
			font-size: 20pt
			transform: translateY(20px)
			opacity: 0
			transition: all 0.5s ease-out 0.5s

			/.loaded &
				transform: none
				opacity: 1

	.profiles
		flex-direction: row
		align-items: stretch
		justify-content: flex-end

		.profile
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			overflow-x: visible
			margin-right: 20px

			.network
				font-size: 36pt
				transition: transform 0.2s ease-out

			.username
				display: inline-flex
				align-items: center
				white-space: nowrap
				max-width: 32px
				font-size: 8pt
				text-decoration: none
				opacity: 0
				transform: translateY(6px)
				transition: all 0.2s ease-out

			&:hover
				.network
					transform: scale(0.75)

				.username
					opacity: 1
					transform: translateY(-4px)
