@require "general"
@require "icon"
@require "header"
@require "section"
@require "details"
@require "profile"
@require "work"
@require "skills"
@require "education"
@require "interests"
@require "references"
@require "notes"