@require "general"
@require "icon"
@require "header"
@require "section"
@require "details"
@require "profile"
@require "work"
@require "volunteer"
@require "projects"
@require "skills"
@require "education"
@require "awards"
@require "certificates"
@require "publications"
@require "languages"
@require "interests"
@require "references"
@require "notes"