@import "colors"

.section#languages
	@import "abilities"

	.section-content .ability
		display: flex
		flex-flow: row wrap
		justify-content: space-between

		.level
			color: $colors.accent.font

		.keywords
			flex-basis: 100%
