#notes
	display: flex
	align-items: center
	justify-content: center
	font-size: 11pt
	font-weight: 300
	color: var(--accent-font-color)
	opacity: 0
	transform: translateY(-10px)
	transition: all 0.5s ease-out 2s

	/.loaded &
		opacity: 1
		transform: none
