@import "colors"
@import "fonts"

.section#projects

	.project
		font-size: 11pt
		padding: 8px

		h4
			.type
				margin-left: 6px
				font-size: 10pt
				font-weight: normal
				align-self: center

			.dates

				&, & > *
					flex-direction: row

				.start:not(.end)::after
					content " - "
					margin: 0 2px

		> .info
			flex-direction: row
			
			.entity
				font-family: $fonts.secondary
				flex: 1
				align-items: flex-end

		.keywords
			margin-top: 1px
		
		.description, .highlights
			margin-top: 8px
