@import "colors"
@import "fonts"

$content-border = 0.5px solid $colors.accent.bg

section.section
	color-primary()
	margin: 12px

	.section-header
		border: 0.5px solid $colors.secondary.bg
		height: 0.4in
		align-items: center
		padding: 4px
		text-transform: uppercase
		font-family: $fonts.secondary
		font-size: 15pt

		i.fa
			width: 28px
			height: 28px

		.title
			flex: 1
			margin-left: 4px

		.right
			font-size: 13pt

			&:last-child
				margin-right: 8px
	
	.section-content
		border: $content-border
		border-top: none

		> ul > li, figure
			&:not(:last-child)
				border-bottom: $content-border

		h4
			font-size: 13pt
			font-weight: bold

			> :first-child
				font-style: oblique

			> .right
				display: inline-flex
				flex-direction: row
				flex: 1
				justify-content: flex-end

		.subtitle
			flex-direction: row
			align-items: center
			color: $colors.accent.font

			i.fa
					width: 20px
					height: 20px
					margin-right: 4px

	.keywords
		flex-flow: row wrap
		font-weight: bold
		font-size: 10pt
		font-variant: small-caps

		.keyword
			color-accent()
			cursor: default
			padding: 0 3px
			margin-top: 2px
			border-radius: 5px
			transition: all 0.2s ease-in-out

			&:not(:last-child)
				margin-right: 4px

			&:hover
				transform: scale(1.1)
				box-shadow: 0px 3px 5px rgba(0,0,0,0.5)

	.highlights

		> .summary
			font-weight: bold
			font-variant: small-caps
			text-decoration: underline

		> .disclosure
			font-size: 10pt
			padding-top: 4px

		ul
			margin-left: 16px
			list-style: outside

	.dates
		font-variant: small-caps
