@import "colors"
@import "fonts"

.section#work-experience

	.section-content .job
		header
			color-accent()
			height: 0.5in
			align-items: center
			padding-left: 8px
			font-size: 12pt

			.role
				flex: 1

				.position
					font-family: $fonts.secondary
					font-weight: bold

			.employer
				flex-direction: row
				align-items: center

				.name
					font-style: oblique

				.location
					font-size: 10pt
					margin-left: 4px
			
			.dates
				width: 1.27in
				height: 100%
				align-items: center
				justify-content: center
				border-left: 1px dotted $colors.secondary.font
				font-weight: bold
				font-variant: small-caps

				.end:not(.start)::after
					content: '...'
					align-self: center
					line-height: 4px
					position: relative
					top: -4px

		> .summary, > .highlights
			padding: 8px

		> .summary
			font-size: 11pt

		> .highlights
			padding-top: 0

			> .summary
				font-weight: bold
				font-variant: small-caps
				text-decoration: underline

			> .disclosure
				font-size: 10pt
				padding-top: 4px

			ul
				margin-left: 16px
				list-style: outside
