doctype html
html
	head
		link(href="../node_modules/@fortawesome/fontawesome-free/css/all.css", rel="stylesheet")
		style
			include:stylus styles/index.styl
		title #{get("basics.name", "Someone")}'s Résumé
	body(
		style="opacity: 0;",
		onload!="((ev) => { document.body.classList.add('loaded') })(arguments[0])"
	)
		include templates/header
		main
			.column.primary
				unless isEmpty("basics.summary")
					include templates/profile
				unless isEmpty("work")
					include templates/work
			.column.side
				unless isEmpty("skills")
					include templates/skills
				unless isEmpty("education")
					include templates/education
				unless isEmpty("interests")
					include templates/interests
				unless isEmpty("references")
					include templates/references
