html
	head
		title #{get("basics.name", "Someone")}'s Résumé
	body
		include templates/header.pug
		main
			.primary
				#profile
				#work-experience
			.side
				#skills
				#education
				#interests
				#references
