@forward "templates/icon"
@forward "templates/header"
@forward "templates/section"

:root
	--primary-bg-color: #fbfbfb
	--primary-font-color: #333
	--primary-font: Helvetica, sans-serif
	--secondary-bg-color: #232323
	--secondary-font-color: #fbfbfb
	--secondary-font: "Roboto Slab", serif
	--accent-bg-color: #8B95A2

body
	font-family: var(--primary-font)
	color: var(--primary-font-color)

	&, & > header, & > main
		width: 100%

	// reset
	&, & *
		box-sizing: border-box
		flex-direction: column
		margin: 0
		padding: 0

		header, main, div, section, ul
			display: flex

		a
			color: unset
			text-decoration: none

			
			&::first-line, > :not(.fa)
				text-decoration: underline
				text-decoration-thickness: 0.5px

		ul
			list-style: none



