doctype html
html
	head
		include templates/fonts
		style
			include:stylus styles/index.styl
		script
			include include.js
		title #{get("basics.name", "Someone")}'s Résumé

	body(style="opacity: 0;")
		include templates/header
		unless isEmpty("basics.notes")
			include templates/notes
		main
			.column.primary
				unless isEmpty("basics.summary")
					include templates/profile
				unless isEmpty("work")
					include templates/work
				unless isEmpty("volunteer")
					include templates/volunteer
				unless isEmpty("projects")
					include templates/projects
			.column.side
				unless isEmpty("skills")
					include templates/skills
				unless isEmpty("education")
					include templates/education
				unless isEmpty("awards")
					include templates/awards
				unless isEmpty("certificates")
					include templates/certificates
				unless isEmpty("publications")
					include templates/publications
				unless isEmpty("languages")
					include templates/languages
				unless isEmpty("interests")
					include templates/interests
				unless isEmpty("references")
					include templates/references
